<h1>Formulario POST de nuevo producto</h1>
<form action="/productos"  method="POST">
    Title: <input type="text" name="title" placeholder="Ingrese nombre del producto">
    <br>
    Price: <input type="number" name="price" placeholder="Ingrese precio en u$S">
    <br>
    Imagen del Producto: <input type="text" name="thumbnail" placeholder="Ingrese URL de imagen del producto">
    <br>
    <input type="submit" value="subir">
</form>
<a href="/productos">Ir a Stock</a>